.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient__whatgtp3 {
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gradient__text {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__bar {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menu-container p,
.sign p,
.link-container p {
  margin: 0 1rem;
  cursor: pointer;
}

.sign button,
.nav-menu button {
  padding: 1rem 2rem;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  border-radius: 5px;
}

.nav-menu-link p {
  margin: 1rem 0rem;
}

.nav-menu {
  display: none;
}

.brand div {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* customizing the feature component as needed  */
.whatgpt3-feature .features-container__feature {
  margin: 0;
}
.whatgpt3-feature .features-container__feature-text {
  max-width: 700px;
}

/* customizing the feature component as per needed */
.whatgpt3-container .features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}
.whatgpt3-container .features-container__feature-text {
  margin-top: 0.5rem;
}

.features-container .features-container__feature-title h1 {
  max-width: 184px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.features-container .features-container__feature-text p {
  max-width: 334px;
}

.link-div h4 {
  font-size: 14px;
  line-height: 16px;
  color: gray;
  margin-bottom: 1rem;
}
.link-div p {
  font-size: 12px;
  line-height: 14px;
  margin: 0.5rem 0;
  cursor: pointer;
}
.link-div p:hover {
  opacity: 0.7;
  transition: all ease-in-out 0.2s;
}
.hover-effect:hover {
  opacity: 0.7;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1058px) {
  .link-container {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .whatgpt3-feature .features-container__feature-text {
    max-width: 500px;
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .whatgpt3-feature .features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .whatgpt3-feature .features-container__feature-text {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .whatgpt3-container .features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
